name: Docker build, all supported versions

on:
  workflow_dispatch:
  push:

jobs:

  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    name: ${{ matrix.config.r }}

    strategy:
      fail-fast: false
      matrix:
        config:
#        - { r: 'devel' }
#        - { r: 'next'  }
        - { r: '4.3.2' }
#        - { r: '4.2.3' }
#        - { r: '4.1.3' }
#        - { r: '4.0.5' }
#        - { r: '3.6.3' }
#        - { r: '3.5.3' }

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 10

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build
      uses: docker/build-push-action@v2
      with:
        platforms: linux/amd64
        push: false
        load: true
        build-args: |
          R_VERSION=${{ matrix.config.r }}
        tags: rhub/r-minimal:test

    - name: Calculate tags
      id: tags
      run: |
        cp -r tools /tmp
        docker run -v /tmp/tools:/tools \
        rhub/r-minimal:test bash -c "/tools/calculate_tags.sh ${{ matrix.config.r }}"

    - name: Push
      uses: docker/build-push-action@v2
      with:
        platforms: linux/amd64,linux/arm64
        push: true
        build-args: |
          R_VERSION=${{ matrix.config.r }}
        tags: ${{ steps.tags.outputs.tags }}

  readme:
    if: ${{ always() }}
    name: Update DEADME
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 10

    - name: Update README
      uses: ./actions/readme-build
